footer {
  background: $black;
  color: $white;
  padding-top: 4.5rem;
  padding-bottom: 4.8rem;
  .flexbox {
    display: flex;
    @include mobile {
      display: block;
    }
    justify-content: space-between;
    .content-left,
    .content-right {
      width: 50%;
      @include mobile {
        text-align: center;
        width: 100%;
      }
    }
    .content-left {
      max-width: 39.4rem;
      @include mobile {
        max-width: 100%;
      }
      .logo {
        padding-bottom: 3.2rem;
      }
      .footer-menu {
        li {
          list-style: none;
          @include mobile {
            padding-bottom: 3.5rem;
            &:last-of-type {
              padding-bottom: 0;
            }
          }
          a {
            color: $white;
            text-decoration: none;
            font-family: $Alata;
            position: relative;
            &:hover {
              &:after {
                content: "";
                height: 0.2rem;
                width: 2.4rem;
                background: $white;
                display: block;
                margin: 0 auto;
                margin-top: 1rem;
              }
            }
          }
        }
        ul#footer-menu {
          display: flex;
          max-width: 39.4rem;
          justify-content: space-between;
          @include mobile {
            display: block;
          }
        }
      }
    }
    .content-right {
      max-width: 28.4rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      @include mobile {
        display: block;
        margin: 0 auto;
      }
      .social-icons {
        max-width: 14.5rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.6rem;
        margin-left: 50%;
        @include mobile {
          margin-left: 0;
          margin: 0 auto;
          padding-top: 2.9rem;
        }
        svg:hover {
          position: absolute;
          &::after {
            content: "";
            height: 0.2rem;
            width: 2.4rem;
            background: $white;
            display: block;
          }
        }
      }
      .copyright {
        font-family: $Alata;
        color: $dark-gray;
        @include mobile {
          margin-top: 4.5rem;
        }
      }
    }
  }
}
