.header {
  width: 100%;
  position: absolute;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.6rem;
    padding-bottom: 13rem;
    .logo,
    .site-navigation {
      width: 50%;
    }
    .logo {
      max-width: 20rem;
    }
    .site-navigation {
      margin-left: 50%;
      ul#menu-header-menu {
        max-width: 38.4rem;
        display: flex;
        justify-content: space-between;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $white;
            font-family: $Alata;
            position: relative;
            &:hover {
              &:after {
                content: "";
                height: 0.2rem;
                width: 2.4rem;
                background: $white;
                display: block;
                margin: 0 auto;
                margin-top: 1rem;
              }
            }
          }
        }
        @include mobile {
          display: none;
        }
      }
    }
    button#menu-toggle {
      background: none;
      border: none;
      display: none;
      @include mobile {
        display: block;
      }
    }
    .mobile-menu {
      display: none;
      @include mobile {
        overflow-y: hidden;
        display: block;
        position: fixed;
      }
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      height: 100vh;
      background: $black;
      width: 100%;
      z-index: 1;
      .logo-and-close-button {
        display: none;
        padding-top: 6.6rem;
        @include mobile {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .close-button {
          position: relative;
          left: 2rem;
        }
      }
      .site-navigation {
        padding-top: 10rem;
        margin-left: 0;
        ul.header-menu {
          li {
            list-style: none;
            padding-bottom: 6.2rem;
            a {
              color: $white;
              text-transform: uppercase;
              text-decoration: none;
              font-family: $JosefinSans;
              letter-spacing: 0.2rem;
            }
          }
        }
      }
    }
  }
}
