.header {
  width: 100%;
  position: absolute;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.6rem;
    padding-bottom: 13rem;
    position: relative;
    .logo,
    .site-navigation {
      width: 50%;
    }
    .logo {
      max-width: 20rem;
    }
    .site-navigation {
      margin-left: 50%;
      ul#menu-header-menu {
        max-width: 38.4rem;
        display: flex;
        justify-content: space-between;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
  }
}
