.header {
  width: 100%;
  position: absolute;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.6rem;
    padding-bottom: 13rem;
    .logo,
    .site-navigation {
      width: 50%;
    }
    .logo {
      max-width: 20rem;
    }
    .site-navigation {
      margin-left: 50%;
      ul#menu-header-menu {
        max-width: 38.4rem;
        display: flex;
        justify-content: space-between;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $white;
            font-family: $Alata;
            position: relative;
            &:hover {
              &:after {
                content: "";
                height: 0.2rem;
                width: 2.4rem;
                background: $white;
                display: block;
                margin: 0 auto;
                margin-top: 1rem;
              }
            }
          }
        }
        @include mobile {
          display: none;
        }
      }
    }
    button#menu-toggle {
      background: none;
      border: none;
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
}
