/* Barlow Font */
$barlow: "Barlow";
@font-face {
  font-family: $barlow;
  src: url("../fonts/Barlow-Regular.ttf") format("truetype");
}

/* Barlow Condensed Font */
$barlow-condensed: "Barlow Condensed";
@font-face {
  font-family: $barlow-condensed;
  src: url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
}

/* Bellefair Font */
$bellefair: "Bellefair";
@font-face {
  font-family: $bellefair;
  src: url("../fonts/Bellefair-Regular.ttf") format("truetype");
}
