$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

$Alata: "Alata", sans-serif;
$JosefinSans: "JosefinSans", sans-serif;

// Breakpoints
$tablet: 800px;
$mobile: 767px;
